@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

canvas {
    display: block;
}

#form-container {
    margin: 20px 0px 0px 20px;
    position: absolute;
}

form {
    font-size: 50px;
    color: white;
    float: right;
    text-align: right;
}

input {
    font-size: 35px;
    margin-left: 20px;
    height: 50px;
    width: 150px;
}

#submit {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: lightgray;
    border-width: 1px;
    border-radius: 5px;
    border-color: transparent;
    color: black;
    padding: 7px 16px;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 30px;
    margin: 20px 17px;
    cursor: pointer;
}