@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: black;
}

canvas {
    display: block;
    background-color: black;
}